.app > .head{
    padding:20;
    background: #07c;
    border-bottom: 1px solid #ddd;
    text-align: center;
    position: relative;
}

.app > .head .title{
    font-size:20px;   
    color: #fff;
    font-weight: bold;

}
.app > .head .list-btn{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 21px;
    color: #fff;
    padding: 10px;
    line-height: 0;
}
.app > .body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.app > .body ul li{
    padding: 20px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.app > .body .add-btn {
    display: inline-block;
    padding: 29px 19px 34px 19px;
    font-size: 38px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #07c;
    color: #fff;
    border: 0;
    border-radius: 50%;
    line-height: 0;
    outline:0;
}
.app > .body > .write{
    padding:10px;
}
.app > .body > .write textarea{
    width: 100%;
    height: 300px;
   
}
.app > .body > .write button{
    width: 49%;
    background: #07c;
    color: #fff;
    padding: 15px;
    border: 0;

}

.app > .body > .write .save-btn{
    background: #07c;
}
.app > .body > .write .remove-btn{
    background: #333;
    float: right;
}

.app > .body > .write .cancel-btn{
    background: #333;
    float: right;
}