<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div id = "app">
            <input type="text" id = "user_id" v-model="userId">
            <input type = "password" id="user_password" v-model="userPassword">
            <button type="button">로그인</button>
            <br />
            아이디: {{userId}}
            <br />
            비밀번호: {{userPassword}}
        </div>
        <script src = "vue.js"></script>
        <script>
            new Vue({
                el:'#app',
                data(){
                    return{
                        userId:'',
                        userPassword:''
                    }
                }
            })
        </script>
    </body>
</html>