<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div id = "app">
            <ul style="list-style: none">
                <template v-for="item in items">
                        <li >
                            <img :src="item.image">
                        </li>
                        <li>
                            {{item.title}}
                        </li>
                </template>
            </ul>    
        </div>
            <script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script>
            let app = new Vue({
                el: '#app',
                data(){
                    return{
                        items:[
                            {
                                id: 1,
                                image: 'https://picsum.photos/210/118/?image=1',
                                title: '컴퓨터'
                            },
                            {
                                id: 2,
                                image: 'https://picsum.photos/210/118/?image=100',
                                title: '해변'
                            },
                            {
                                id: 3,
                                image: 'https://picsum.photos/210/118/?image=160',
                                title: '휴대폰'
                            },
                            {
                                id: 4,
                                image: 'https://picsum.photos/210/118/?image=200',
                                title: '황소'
                            }
                        ]
                    }
                }
            })</script>

    </body>
</html>