<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div id = "app">
            <button type="button" v-on:click="add">더하기</button>
            {{counter}}
            <input type="text" @keyup.enter="keyup">
        </div>
        <script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            let app = new Vue({
                el: '#app',
                data(){
                    return{
                        counter : 0
                    };
                },
                methods: {
                    add(){
                        this.counter++;
                    },
                    keyup(ev){
                        if (ev.keyCode !== 13){
                            console.log('엔터키아님');
                            return;
                        }
                        console.log('엔터키눌림');
                    }
                }
            })
        </script>
    </body>
</html>