<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <div id = "app">
            <div>
                {{ message }}
            </div>
            <input type="text" v-model="message"/>
        </div>
        <script src="vue.js"></script>
        <script>
            var firstApp = new Vue({
                el:'#app',
                data: {
                    message: '첫 번째 vue.js 앱!'
                }
            });
        </script>
    </body>
</html>