<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <div id = "app">
            <ul>
                <li v-for="n in numbers">{{n}}</li>
            </ul>
            <table>
                <thread>
                    <tr>
                        <th>이름</th>
                        <th>나이</th>
                    </tr>
                </thread>
                <tbody>
                    <tr v-for="p in people"  v-if="p.age >= 30">
                        <td>{{ p.name }}</td>
                        <td>{{ p.age }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src = "vue.js"></script>
        <script>
            
            var app = new Vue({
                el: '#app',
                data:{
                    numbers: [1,2,3,4,5,6,7],
                    people:[
                        {
                            name:"park",
                            age:30
                        },
                        {
                            name: 'kim',
                            age:40
                        },
                        {
                            name : 'lee',
                            age: 20
                        }
                    ]
                }
            });
        </script>
    </body>
</html>