<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <div id = "app">
            <h1 v-if="visible">나는 보입니다.</h1>
            <h1 v-show="visible">나는 보입니다.</h1>
        </div>
        <script src = "vue.js"></script>
        <script>
            
            var app = new Vue({
                el: '#app',
                data:{
                    visible: false
                }
            });
        </script>
    </body>
</html>